* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Segoe UI';
    font-weight: 500px;
    font-size: 10ex;
    color:white;
    text-align: center;
} 

#subtitulo {
    font-family: Tahoma;
    font-weight: 500px;
    font-size: 7ex;
    color:white;
    text-align: center;
}

body {
    background-color: rgb(56, 41, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}